* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nav-btn{
    display: none;
}

.fa-bars{
    color:  #96e6a1;
    transition: all 1s ease;
}

i{
    font-size: 40px;
    color: white;
}

.navbar{
    display: flex;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    height: 75px;
    width: 100%;
    box-shadow: 3px 3px 10px grey;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.logo{
    color:  #96e6a1;
    letter-spacing: 3px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    align-items: center;
    margin-left: auto;
}

li{
    list-style: none;
    font-size: 20px;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.article-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px 20px;
    transition: all 0.5s ease;
    padding: 10px;
    box-shadow: 3px 3px 10px grey;
}

.article-card:hover{
    cursor: pointer;
    background-color: lightgrey;
}

.title{
    color: white;
    font-size: 20px;
    background-color: #96e6a1;
    padding: 10px;
    width: 100%;
    pointer-events: none;
}

.preview{
    padding: 10px;
    max-width: 320px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: none;
}

img{
    height: 150px;
    width: 150px;
    margin-top: 10px;
    pointer-events: none;
}

@media only screen and (max-width: 768px){
    .navbar{
        position: fixed;
        right: 0px;
        top: 0px;
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        height: 40vh;
        width: 40vh;
        clip-path: circle(100px at 170% -10%);
        -webkit-clip-path: circle(100px at 170% -10%);
        border-bottom-left-radius: 100px;
        transition: all 1s ease-out;
    }

    .navbar.visible{
        clip-path: circle(1000px at 170% -10%);
        -webkit-clip-path: circle(1000px at 170% -10%);
    }

    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .logo-container{
        display: none;
    }

    .nav-btn{
        position: fixed;
        top: 2%;
        right: 2%;
        background: transparent;
        border: none;
        display: inline;
        outline: none;
        z-index: 1;
    }

    .fa-bars.visible{
        color: white;
    }

    .nav-btn:hover{
        cursor: pointer;
    }

}